*.bat
*.ps1
*.orig
*.pyc
*.sh
*.sql
*.bak
*.dmp
.svn
*.lock
.installed.cfg
.idea/*
*.sql
*.sqlite3
bin/*
downloads/*
eggs/*
develop-eggs/*
parts/*
commit.txt
venv/
tmp/*
settings.py
media/*
node_modules/*
.idea/*
.vscode/*